div.xdWizardNavBar {
	border-top: 1px solid darkblue;
	background-color: silver;
}

div.xdWizardNavBar Button {
	height: 2em;
	margin: 5px;
}

div.xdWizardContentPanel {
	background-color: white;
}

div.xdInstantiationWizard div.gwt-TabLayoutPanelTabs {
	border-bottom: 1px solid darkblue;
	border-left: 1px solid darkblue;
}

div.xdInstantiationWizard div.gwt-TabLayoutPanelTab {
	padding: 5px;
	border-top: 1px solid darkblue;
	border-right: 1px solid darkblue;
}

div.xdInstantiationWizard div.xdWizardHeader {
	font-weight: bold;
	text-align: center;
}

div.xdInstantiationWizard div.xdWizardHeader div.gwt-Label {
	margin: 5px;
}

div.xdInstantiationWizard div.gwt-TabLayoutPanelTab-selected {
	background-color: white;
}

div.odpDetailsPortlet div.odpTitleLabel {
	font-size: 22px;
	border-bottom: 1px solid #99bbe8;
}

div.odpDetailsPortlet img.odpIllustration {
	max-width: 600px;
	max-height: 350px;
}

div.odpDetailsPortlet div.odpDetailsHeading {
	margin-top: 1em;
	font-size: 16px;
	border-bottom: 1px solid #99bbe8;
}

div.odpDetailsPortlet div.odpDetailLabel {
	font-weight: bold;
	margin-right: 3em;
	border-bottom: 1px dotted #99bbe8;
}

div.odpDetailsPortlet div.odpDetail ul {
	list-style-type: disc;
	list-style-position: inside;
}

div.entityCloningPanelSubheader {
	border-bottom: 1px solid #DFE8F6;
	font-weight: bold;
}

div.xdWizardContentPanel div.prefixLabel {
	width: 2em;
}

div.xdWizardContentPanel div.originalLabelLabel {
	width: 15em;
}

div.xdWizardContentPanel div.arrowLabel {
	margin-right: 3em;
}

div.xdWizardContentPanel input.targetLabelTextBox {
	width: 20em;
}

table.entitySpecializationToolbar {
	border-top: 1px solid DarkBlue;
	border-bottom: 1px solid DarkBlue;
	background-color: Silver;
	height: 3em;
	vertical-align: middle;
	width: 100%;
}

table.entitySpecializationToolbar button {
	height: 2em;
}

.xdpAlignmentPanelAlignmentHolder {
	width: 600px;
}

div.xdpAlignmentPanelAlignmentGroupHeading {
	border-bottom: 1px solid #DFE8F6;
	font-weight: bold;
	text-transform: capitalize;
}

div.entityTreeScrollWrapper {
	height: 270px;
	border: 1px solid Black;
}

div.entityCloningFieldsScrollWrapper {
	border: 1px solid Black;
}

div.entityTree .gwt-TreeItem-selected {
	background-color: #DFE8F6;
	border: 1px solid DarkBlue;
	display: inline-block !important;
	padding: 2px;
}

table.xdpAlignmentWidget input {
	margin-right: 5px;
}
 
 table.xdpPreviewPanel {
 	width: 100%;
 }
 
 table.xdpPreviewPanelNavBar {
    height: 33px;
    vertical-align: middle;
    border-bottom: 1px solid darkblue;
    width: 100%;
    background-color: #DBEBF0;
}

 table.xdpPreviewPanelNavBar button {
    height: 2em;
    margin: 5px;
}

table.xdpPreviewPanel textarea {
	width: 610px;
	height: 318px;
	border: 1px solid black;
	padding: 5px;
}

div.xdpInstantiationWizardSpinner table {
	background-color: white;
}