.owlClassTreeNode {
	background-image: url("/images/xd/owlClassIcon.png");
	background-size: 18px 16px;
    background-repeat: no-repeat;
}

.owlObjectPropertyTreeNode {
	background-image: url("/images/xd/owlObjectPropertyIcon.png");
	background-size: 18px 16px;
    background-repeat: no-repeat;
}

.owlDataPropertyTreeNode {
	background-image: url("/images/xd/owlDataPropertyIcon.png");
	background-size: 18px 16px;
    background-repeat: no-repeat;
}

div.specializedNode a.x-tree-node-anchor span {
	color: green;
}  

div.specializationStrategySelectionPanel div.gwt-Label, 
div.specializationStrategySelectionPanel div.gwt-HTML {
	font-size: 11px;
}

div.specializationStrategySelectionPanel span.gwt-RadioButton label {
	font-weight: bold;
	font-size: 11px;
}